<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.cyberic.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Cyberic. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>SmoothMousePrefPane</string>
	<key>NSPrefPaneIconFile</key>
	<string>SmoothMousePrefPane.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>SmoothMouse</string>
	<key>NSPrincipalClass</key>
	<string>SmoothMousePrefPane</string>
	<key>SMHomepageURL</key>
	<string>http://smoothmouse.com</string>
	<key>SMReportBugURL</key>
	<string>http://smoothmouse.com/support/</string>
	<key>SUEnableAutomaticChecks</key>
	<string>YES</string>
	<key>SUFeedURL</key>
	<string>http://update.smoothmouse.com/smcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
